.navbar {
    background-color:$background-color;
    box-shadow: 0 1px 2px 2px gray;
   height:auto;
   width: 100%;
    
    ul {
        padding-block: 24px;
        display: flex;
        align-items: center;
        gap: 24px;
        margin-left: 24px;

        li {
            h2, a {
                font-size: 30px;
            }
        }
    }
}